name: on_audio_query
description: Flutter Plugin used to query audios/songs infos [title, artist, album, etc..] from device storage.
version: 3.0.0-beta.0
homepage: https://github.com/LucJosin/on_audio_query/tree/main/on_audio_query
# pub.dev: https://pub.dev/packages/on_audio_query
# ========
# author: Lucas Josino
# github: https://github.com/LucJosin
# website: https://www.lucasjosino.com/

publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  # on_audio_query
  on_audio_query_platform_interface:
    path: ../on_audio_query_platform_interface
  on_audio_query_android:
    path: ../on_audio_query_android
  on_audio_query_ios:
    path: ../on_audio_query_ios

  # Flutter
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

dev_dependencies:
  # Flutter
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  # Material Design
  uses-material-design: true
  plugin:
    platforms:
      android:
        default_package: on_audio_query_android
      ios:
        default_package: on_audio_query_ios
      # web:
      #   pluginClass: OnAudioQueryPlugin
      #   fileName: on_audio_query_web.dart
      # windows:
      #   dartPluginClass: OnAudioQueryPlugin
      #   fileName: on_audio_query_windows.dart
