body.dark {
  --primary: #ffb4a9;
  --on-primary: #5f150f;
  --primary-container: #7d2b22;
  --on-primary-container: #ffdad5;
  --secondary: #e7bdb7;
  --on-secondary: #442926;
  --secondary-container: #5d3f3b;
  --on-secondary-container: #ffdad5;
  --tertiary: #dfc38c;
  --on-tertiary: #3e2e04;
  --tertiary-container: #574419;
  --on-tertiary-container: #fcdfa6;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #201a19;
  --on-background: #ede0de;
  --surface: #181211;
  --on-surface: #ede0de;
  --surface-variant: #534341;
  --on-surface-variant: #d8c2be;
  --outline: #a08c89;
  --outline-variant: #534341;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #ede0de;
  --inverse-on-surface: #362f2e;
  --inverse-primary: #9c4237;
  --surface-dim: #181211;
  --surface-bright: #3f3736;
  --surface-container-lowest: #120d0c;
  --surface-container-low: #201a19;
  --surface-container: #251e1d;
  --surface-container-high: #2f2827;
  --surface-container-highest: #3b3332;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.swiper {
  padding: 12px 0px;
  height: 740px !important;
}

.swiper-slide img {
  width: auto !important;
  height: 700px !important;
}

.section,
.section-title {
  margin: 20px auto;
}

.website-actions {
  flex-wrap: wrap;
}

#statistics img {
  border-radius: 0px;
  zoom: 1.3;
}

#changelog_element p,
#features_element p {
  margin: 3px auto;
}

.musify-nav-logo img {
  filter: invert(1) sepia(1) hue-rotate(345deg) saturate(0.8) brightness(1.05) contrast(1.1);
}

@media only screen and (max-width: 760px) {
  .musify-nav-logo {
    display: none;
  }
}
