body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.swiper {
  padding: 12px 0px;
  height: 740px !important;
}

.swiper-slide img {
  width: auto !important;
  height: 700px !important;
}

.section,
.section-title {
  margin: 20px auto;
}

@media only screen and (max-width: 760px) {
  .musify-nav-logo {
    display: none;
  }
}
