on: workflow_dispatch
name: Build debug apk

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Setup Java environment in order to build the Android app.
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17.x'

      # Gradle cache for faster builds
      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      # Setup the flutter environment.
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      # Get flutter dependencies.
      - run: flutter pub get
      # # Check for any formatting issues in the code.
      # - run: dart format --set-exit-if-changed .
      # Statically analyze the Dart code for any errors.
      - run: flutter analyze .
      # Build universal apk.
      - run: flutter build apk --debug --flavor github
      # Upload universal generated apk to the artifacts.
      - uses: actions/upload-artifact@v3
        with:
          name: Musify-debug.apk
          path: build/app/outputs/flutter-apk/app-github-debug.apk
